body {
      background-color: darkgray;  
      font-family: "georgia"; 
      padding:15px; 
      line-height:1.4em
      
     
}

nav.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.list ul li {
  display: inline;
}



div.gallery {
  margin: 5px;
  border: 2px solid #fdfdfd;
  float: left;
  width: 50em;
  line-height: 1.5em;
}

div.gallery:hover {
  border: 2px solid #fdfdfd;
}

div.gallery img {
  width: 100%;
  height: auto;
  line-height: 1.5em;
}

div.desc { 
  padding: 15px;
  line-height: 1em;
  
}

section.flex {
   background-color:lightgrey;
     display:flex;  
     border: 12px solid white;
            }


h2{
  text-align: center;  
}
h3{
    
}

figure{
 flex:1;
 background-color:white;
}

figure.model{
 flex:2;
}
iframe{
 width:60vw; 
 height:50vh;
 padding: 100px;
}

h1 {font-size:3.5em; }
h2 {font-size:2em}
h1 {font-size:2em; }


p {
    background:lightgrey;
    padding: 2em;
  width: 300px;
  border: 15px solid white;
  margin: 20px;
  line-height: 1.5em;
  
}

div {
  background-color: lightgrey;
  width: 1000px;
  height: auto;
  border: 15px solid white;
  padding: 50px;
  margin: auto;
}
ol {
    background: lavender;
    
}

ul {
    background: lavender;
    
}

nav ul.list {
    background: white;
}

section.resume {
    background:darkgray;
    line-height:1.5em;

}

table {
  width: 100%;
  border: 2.5px solid;
  color:white;
}

section.education {
        margin-left:5em;
}

section.analysis { width: 30%;
display:flex}

figure.antconc { flex:1;}

img.text{min-width:50%}

section.flexs{
    display:flex;
width:90%;

}


figure{
flex:1;
background-color:white;
}

figure img { max-width:400px; width:100%; }

ul { padding-left: 5em; padding-right: 5em; }

figure.antconc{
    flex:1;
}

figure.tree { flex:1;}
figure.river { flex:1;}
figure.water { flex:1;}


img.ant:hover {
    transform: scale(1.2);}
    
figure.screenCap{
 flex:2;
}


 








