body {
      background-color: #2d8fb4;  
      font-family: arial, helvetica, sans-serif; 
      padding:15px; 
      line-height:1.4em
    
     
}

nav.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.list ul li {
  display: inline;
}


div.gallery {
  margin: 5px;
  border: 1px solid #fdfdfd;
  float: left;
  width: 50em;
}

div.gallery:hover {
  border: 1px solid #fdfdfd;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}



img{width:40%;
max-width:50%}

figure.model{
 flex:2
}

iframe{
 width:60vw; 
 height:50vh;
}

h1 {font-size:3.5em; }
h2 {font-size:2em}
h1 {font-size:2em; }


p {
    background:white;
    padding: 2em;
    margin-left: 5em;
    line-height: 1.5em;
}


ol {
    background: lavender;
    
}

ul {
    background: lavender;
    
}

nav ul.list {
    background: white;
}

section.resume {
    background:#2d8fb4;
    line-height:1.5em;

}

section.education {
        margin-left:5em;
    
}